.PostBox {
    background: #e6e6e6;
    border-radius: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.PostBoxPadding {
    margin: 1rem;
}

@media (min-width: 1025px) {
    .PostBox {
        width: 60%;
    }
}