h1, h5 {
    font-family: 'Poppins', sans-serif;
    margin: .5rem 0 2rem 0;
}

h1 {
    margin: 1rem 0 .5rem 0;
    color: #222222;
}

h5 {
    font-weight: 100;
    margin: .5rem 0 2rem 0;
    color: #676767;
}

.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}